{# src/Victortestmaster/Poker/view/poker.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
    </head>
    <body>
		
	<form action="/pocker/number" method="post">
        <div id="sidebar">
            {% block sidebar %}
		 <ul>
			Bienvenido!
                </ul>
        </div>
	</form>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
